/* Normally we would have a parent div holding #header, #main< and #footer so we can apply margin-left and margin-right to this parent div instead of every div on the webpage.*/

main {
    background-color: lightgray;
    padding: 20px;
    vertical-align: ;
}
#home p, #home h1 {
    color: darkgreen;

}
#about p {
    color: fuchsia;

}
#about h1 {
    color: fuchsia;
}

#about h2 {
    color: fuchsia;
}

body {
    background-color: lemonchiffon;
}



#container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    /* control+/ =makes notes */
}

#container header nav {
    margin-bottom: 0;
    padding-top: 157px;
    
}

/* cover position for this week */

#container header nav ul {
    border: dashed green 1px;
    padding-left: 0%;
    width: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 0;
    margin-right: 0;
    background-color: lawngreen;


}

div#container header nav ul li {
    border-style: dashed;
    border-color: red;
    border-width: 1px;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;

}

header {
    height: 200px;
    background-color: blanchedalmond;
}
main {
    background-color: lightgrey;
    padding: 20px;
    vertical-align: middle;
}
footer {
    height: 50px;
    background-color: grey;
}
footer p {
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#sidebar {
    width: 150px;
    height: 1000px;
    background-color: skyblue;
    display: inline-block;
}

#article {
    width: 468px;  /* takes into consideration padding and boarder size, should total 510px*/
    height: 958px; /*takes into consideration padding and border size, should total 1000px */
    background-color: pink;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border: solid red;
    /*shorthand for border-width, bord-style, and border-color;*/
    }