/* Normally we would have a parent div holding #header, #main< and #footer so we can apply margin-left and margin-right to this parent div instead of every div on the webpage.*/

#header {
    width: 700px;
    height: 200px;
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;

}
#main {
    width: 660px;
    height: 1000px;
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#footer {
    width: 700px;
    height: 50px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    width: 150px;
    height: 1000px;
    background-color: skyblue;
    display: inline-block;
}

#article {
    width: 468px;  /* takes into consideration padding and boarder size, should total 510px*/
    height: 958px; /*takes into consideration padding and border size, should total 1000px */
    background-color: pink;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border: solid red;
    /*shorthand for border-width, bord-style, and border-color;*/
    }