/*
CSS: Cascading Styles Sheets

    CSS Parts:
    Selector
    Rules: property & value



*/



body {
    background-color: white;
}
p {
    color: black;
    font-size: 40px;
}

#firstDiv {
    background-color: grey;
    margin: 10px;
}

#pizza{
    background-color:red;
}