/*
CSS: Cascading Styles Sheets

    CSS Parts:
    Selector
    Rules: property & value



*/



body {
    background-color: white;
}
p {
    color: black;
    font-size: 40px;
}

#firstDiv {
    background-color: grey;
    margin: 10px;
}

#pizza{
    background-color:red;
}

.box{
    width: 266px;
    height: 290px;
    background-color: cornsilk;
    border-style:solid ;
    border-width: 5px;
    border-color: purple;
    margin-top:50px ;
    margin-left:auto ;
    margin-right:auto ;
    margin-bottom:25px ;
    padding-left:12px ;
    padding right:12px ;


#{
    font-size: 24px;
    font-family: "arial";
    color: purple;
    /* text-decoration: overline underline;*/
    font-weight: bold;
    font-size: italic;
    line-height: 48px;
    /*direction: rtl; */
    /* unicode- bidi: bidi override; */
    text-align: justify;

}